body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the viewport height */
  }

  .content-container
  {
    margin-top:4%;
  }
  
  app-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Set a high z-index to ensure the navbar is above other elements */
  }