.PDFContainer
{
    margin-top: 20px;
    padding: 30px;
}

h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* CSS for mobile devices */
/* Default styles */
/* Add your default styles for mobile here */

/* Small screens (portrait phones) */
@media only screen and (max-width: 576px) {
  table {
    width: 100%; /* Make the table take up 100% of the container's width */
    overflow-x: auto; /* Add horizontal scroll when content overflows */
    /* Adjust other styles as needed */
  }
}

/* Medium screens (landscape phones) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  table {
    width: 100%; /* Adjust width for screens between 577px and 768px */
    overflow-x: auto; /* Add horizontal scroll when content overflows */
    /* Adjust other styles as needed */
  }
}

/* Large screens (tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  table {
    width: 80%; /* Adjust width for screens between 769px and 1024px */
    overflow-x: auto; /* Add horizontal scroll when content overflows */
    /* Adjust other styles as needed */
  }
}

/* Extra-large screens (desktops, large tablets) */
@media only screen and (min-width: 1025px) {
  table {
    width: 60%; /* Adjust width for screens wider than 1024px */
    overflow-x: auto; /* Add horizontal scroll when content overflows */
    /* Adjust other styles as needed */
  }
}
