<!-- <div class="square-box"> -->
  @if (!Loading) {
  <div class="body-container" style="width: 100%;">
    @if (Products) {
@for (product of Products; track product.ProductID) {
<div class="product-card" (click)="selectProduct(product.ProductID)">
  <img src="../../../assets/{{product.Image}}.png" alt={{product.ProductID}}>
  <div class="product-details">
      <div class="product-name">{{product.ProductID}}</div>
      <div class="product-price">{{product.Price}} Rs</div>
  </div>
</div>
} @empty {
  <span>Empty list of users</span>
}
    }
</div>
  }