.fill-remaining-space {
    flex: 1 1 auto;
  }

  .mat-icon {
    font-size: 24px; /* Adjust the size as needed */
  }

.NavButton{
    margin-left: 15px;
}

button:hover
{
  background-color: #02063b;
}

.activenavbar {
  background-color: #02063b; /* Change this to your desired highlight color */
  color: white; /* Change this to your desired text color */
}
