.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100vh;
    background-color: #faf9ed;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .card-container
  {
    width: 25%;
    text-align: center;
  }