<div class="container">
  <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>

    <mat-form-field class="filDD">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="categoryFilterValue" name="catFilter">
      <mat-option [value]="">All</mat-option>
      <mat-option *ngFor="let category of filterOptions.category" [value]="category">
        {{ category }}
      </mat-option>
</mat-select>
</mat-form-field>
  
<mat-form-field class="filDD">
<mat-label>Color</mat-label>
<mat-select [(ngModel)]="colorFilterValue" name="clrFilter">
  <mat-option [value]="">All</mat-option>
  <mat-option *ngFor="let color of filterOptions.color" [value]="color">
    {{ color }}
  </mat-option>
</mat-select>
</mat-form-field>

  
<mat-form-field class="filDD">
<mat-label>Size</mat-label>
<mat-select [(ngModel)]="sizeFilterValue" name="sizeFilter">
  <mat-option [value]="">All</mat-option>
  <mat-option *ngFor="let size of filterOptions.size" [value]="size">
    {{ size }}
  </mat-option>
</mat-select>
</mat-form-field>

    <mat-table [dataSource]="dataSource.filteredData| saleFilter: categoryFilterValue: sizeFilterValue : colorFilterValue">
      <!-- Define columns -->
      <ng-container matColumnDef="productID">
        <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.productID }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.category }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Color">
        <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.color }} </mat-cell>
      </ng-container>
     
      <ng-container matColumnDef="Size">
          <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.size }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Tag">
          <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.tag }} </mat-cell>
        </ng-container>
    
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">  <button mat-raised-button  mat-button (click)="openDialog(element._id, element.productID, element.mrp,element.discount, element.count)" color="primary">Add Sale</button> </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>