.page-wrapper {
  min-height: 100vh; /* 100% of the viewport height */
  overflow-y: auto; /* Add a vertical scrollbar if necessary */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* .input-container {
  
  } */
  
  mat-form-field {
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }

button:hover
{
  background-color: #3b0231;
}

label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Arial', sans-serif; /* Custom font family */
    font-size: 16px; /* Custom font size */
    font-weight: bold; /* Custom font weight */
    color: #555; /* Custom label text color */
  }

  