<div class="container">
    <div class="box">

<div class="input-container">
  <label>Count</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Count" #input [(ngModel)]="count">
</mat-form-field>
</div>

<div class="input-container">
  <label>Sold Price</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Purchase Price" #input [(ngModel)]="soldPrice">
</mat-form-field>
</div>

<div class="input-container" style="text-align: center;">
    <button mat-raised-button (click)="addSale()" color="primary">Submit</button>

    <button mat-raised-button style="margin-left: 10px;" (click)="closeDialog()" color="primary">Cancel</button>
  </div>
</div>
</div>